{% extends "base.html" %} }

{% block content %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    <h2>Users</h2>
    <a class="btn btn-outline-success" href="{% url "register" %}">New user</a>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Middle name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Is active</th>
        </tr>
        </thead>
        <tbody>
        {% for element in users %}
            <tr>
                <td>
                    <a class="btn btn-outline-info" href="{% url "user_info" element.id %}">{{ element.first_name }}</a>
                </td>
                <td>{{ element.last_name }}</td>
                <td>{{ element.middle_name }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.get_role_name }}</td>
                <td>{{ element.is_active }}</td>
                <td>
                    <a class="btn btn-outline-warning" href="{% url "update" element.id %}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" href="{% url "delete_user" element.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}